.fof-upload-button {
    overflow: hidden;
    position: relative;

    input {
        display: none;
    }

    .Button-label {
        display: none;
    }

    &:hover,
    &.uploading {
        // Cancel the effects of .Button--icon
        width: auto;
        padding: 8px 13px;

        // Cancel the effects of .Button--icon
        .Button-icon {
            margin-right: 7px;
        }

        .Button-label {
            display: inline-block;
        }
    }
}

.Composer.fof-upload-dragging {
    background-color: #ddd;
    .box-shadow(~"0 0 0 2px @{primary-color}, 0 2px 6px @{shadow-color}");
}
