.flagrow-download-button {
    clear: both;
    width: 100%;
    text-align: center;

    > img {
        max-width: 100%;
        height: auto;
        padding: 2px;
        border: 1px solid @muted-color;
        border-radius: 4px;
    }
}
